td {
    text-align: center;
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px; */
    padding: 5px;
    background-color: rgb(255, 111, 0);
    min-width: 20px;
    min-height: 20px;
}

.clicked {
    background-color: rgb(180, 180, 180);
}

table {
    margin-left: auto;
    margin-right: auto;
}

div {
    text-align: center;
    color: rgb(255, 111, 0);
    font-family: 'Arial';
    font-size: 25px;
}