td {
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 111, 0);
    min-width: 20px;
    min-height: 20px;
    font-family: 'Arial';
    font-weight: 900;
}

table {
    margin-left: auto;
    margin-right: auto;
}

form {
    background-color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

.clicked {
    background-color: rgb(180, 180, 180);
    transition: background-color 300ms linear;
}

#menu {
    text-align: center;
    color: rgb(255, 111, 0);
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 800;
}

#txt {
    text-align: center;
    color: rgb(255, 111, 0);
    font-family: 'Arial';
    font-size: 25px;
    font-weight: 900;
}

#newGameBtn {
    text-align: center;
    color: white;
    background-color: green;
    font-family: 'Arial';
    font-size: 18px;
    font-weight: 900;
}

#submitBtn {
    text-align: center;
    background-color: greenyellow;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 800;  
}